#titleLabel {
    font: bold 24px 'Microsoft YaHei', 'Segoe UI';
    color: black;
}

#contentLabel {
    font: 16px 'Segoe UI', 'Microsoft YaHei';
    color: rgb(131, 131, 131);
}

ErrorInterface {
    border: 1px solid rgba(0, 0, 0, 0.095);
    border-radius: 6px;
    background-color: rgba(245, 245, 245, 0.334);
}