QLabel#titleLabel {
    color: white;
    font: 33px 'Microsoft YaHei';
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}

AuxiliaryInterface,
#scrollWidget {
    background-color: transparent;
}